body {
  background: white;

}

div: c {
  color: orange;


}

.mammals {
  color: red;
  background-color: lavenderblush;
}

.birds {
  color: blue 50px;
  background-color: lightgrey;
}

.fish {
  color: orange 60px;
  background-color: lightyellow;

}

#mouse {
  color: grey;
}

#cat {
  color: sienna;
}

#dog {
color: tan;

}

#sheep {

color: steelblue;
}

#penguin {

color: black;

}

#canary {
  color: orangered;

}

#parakeet {
  color: lime;

}

#salmon {
  color: salmon;

}

#tuna {

  color: purple;
}

#goldfish {
color: gold;

}
